/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header img {
    margin-right: 10px;
}

header h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

/* Main content styles */
.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box container styles */
.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.box {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.box:hover {
    background-color: #d4d4d4;
}

.box a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.box-container h3 {
    text-align: center;
}

.box img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

a {
    text-decoration: none;
}

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.teams {
    background-color: #8794df;
    color: white;
    border: none;
    border-radius: 0px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: flex; /* Initial versteckt */
}

.teams:focus{
    outline: none;
}

select.teams::part(listbox) {
    background-color: red;
    padding: 0.5em;
    margin: 0.5em;
}

.confirm-button {
    background-color: #8794df;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: flex; /* Initial versteckt */
}

.confirm-button img {
    filter: invert(100%);
    width: 25px;
    height: 25px;
    margin: auto;
}

.confirm-button:hover {
    background-color: #7d89cd;
}