<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamleader Softwaretools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/absence.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumbs.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
<header>
    <div class="left-container">
        <img src="{{ url_for('static', filename='assets/timer.png') }}" alt="Timer Icon" width="32" height="32">
        <a href="."><h1>Teamleader Softwaretools</h1></a>
    </div>
    <div class="right-container">
        {% if username %}
        <span class="username">Willkommen, {{ username }}</span>
        <button type="button" class="logout-button" onclick="logout()">
            Abmelden
        </button>
        {% else %}
        <button type="button" class="login-button" onclick="login()">
            Anmelden
        </button>
        {% endif %}
    </div>
</header>
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <!-- Beispiel für Home Icon -->
        <li class="breadcrumb-item">
            <a href="/" class="breadcrumb-link">
                <img src="/static/assets/home.svg" class="breadcrumb-icon" alt="Home Icon" width="16" height="16" filter="">
                Startseite
            </a>
        </li>
        <li class="breadcrumb-item active">
            <img src="/static/assets/chevron.svg" class="breadcrumb-spacer" alt="Home Icon" width="16" height="16">
            Abwesenheiten einsehen
        </li>
    </ol>
</nav>
<div class="content">
    <div class="box-container">
        <div class="box">
            <div class="teamleader-users-container">
                <select id="viewSelect" class="view-select" onchange="changeView()">
                    <option value="day" {% if view==
                    "date" %}selected{% endif %}>Tag</option>
                    <option value="week" {% if view==
                    "week" %}selected{% endif %}>Woche</option>
                    <option value="month" hidden>Monat</option>
                </select>
                <input type="{% if view == 'date' %}date{% elif view == 'week' %}week{% endif %}" id="date"
                       name="date" class="date-input" value="{{ today }}">
                <button type="button" class="confirm-button" id="confirmbutton" onclick="checkAbsenceforDate()">
                    Bestätigen
                </button>
            </div>
        </div>
        <div id="box-content">
            {% if absences %}
            <div id="loader" class="{% if not absences %}loaded{% else %}loaded{% endif %}">
                <span class="loader"></span>
            </div>
            {% endif %}
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <div class="calendar" id="calendar">
                {% if view == 'date' %}
                <div class="day">
                    <h4>{{ day }}</h4>
                    <span class="date">{{ date[0] }}</span>
                    {% for member in absences %}
                    <div class="status">
                        <span class="name">{{ member.name }}</span>
                        <span class="absence" data-absence="{{ member.absence[0] }}">{{ member.absence[0] }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% elif view == 'week' %}
                {% set days = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag'] %}
                {% for day_index in range(days|length) %}
                <div class="day" id="{{ days[day_index]|lower }}">
                    <h4>{{ days[day_index] }}</h4>
                    <span class="date" id="{{ days[day_index]|lower }}Date">{{ date[day_index] }}</span>
                    {% for member in absences %}
                    <div class="status">
                        <span class="name">{{ member.name }}</span>
                        <span class="absence" data-absence="{{ member.absence[day_index] }}">{{ member.absence[day_index] }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>
<!-- Separate JavaScript file -->
<script src="{{ url_for('static', filename='js/absence.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
