<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamleader Softwaretools</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorizations.css') }}">
</head>
<body onload="checkTableVisibility()">
<header>
    <div class="left-container">
        <img src="{{ url_for('static', filename='assets/timer.png') }}" alt="Timer Icon" width="32" height="32">
        <a href="."><h1>Teamleader Softwaretools</h1></a>
    </div>
    <div class="right-container">
        {% if username %}
        <span class="username">Willkommen, {{ username }}</span>
        {% else %}
        <button type="button" class="login-button" onclick="login()">
            Anmelden
        </button>
        {% endif %}
    </div>
</header>
<div class="content">
    <div class="box-container">
        <div class="box">
            <div class="file-upload-container">
                <input type="text" id="searchField" class="search-field" placeholder="Suche..." oninput="filterTable()">
                <button class="add-button" onclick="openModal()" >
                    <img src="{{ url_for('static', filename='assets/add-user.png') }}" alt="Upload Icon">
                </button>
                <button id="uploadButton" class="add-button" disabled>
                    <img src="{{ url_for('static', filename='assets/save.png') }}" alt="Upload Icon">
                </button>
                <button type="button" class="clear-button" onclick="clearSearch()" disabled>
                    <img src="{{ url_for('static', filename='assets/reset.png') }}" alt="Abfalleimer">
                </button>
            </div>
        </div>

        <div id="box">
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            {% if success_message %}
            <p class="success-message">{{ success_message }}</p>
            {% endif %}
            <table id="userTable">
                <thead>
                <tr>
                    <th class="employee-col">Mitarbeiter</th>
                    <th class="role-col">Rolle</th>
                    <th>Zeiten hochladen</th>
                    <th>Zeiten verwalten</th>
                    <th>Berechtigungen zuweisen</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                <tr>
                    <td class="employee-col">{{ user.employee }}</td>
                    <td class="role-col">{{ user.role }}</td>
                    <td><input type="checkbox" {% if user.upload_times %}checked{% endif %}></td>
                    <td><input type="checkbox" {% if user.manage_times %}checked{% endif %}></td>
                    <td><input type="checkbox" {% if user.authorizations %}checked{% endif %}></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Mitarbeiter hinzufügen</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="role">Rolle:</label>
                    <input type="text" id="role" name="role" required>
                </div>
                <div class="form-group">
                    <label>Berechtigungen:</label>
                    <div class="checkbox-group">
                        <div class="checkbox-item">
                            <input type="checkbox" id="uploadTimes" name="permissions" value="uploadTimes">
                            <p for="uploadTimes">Zeiten hochladen</p>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="manageTimes" name="permissions" value="manageTimes">
                            <p for="manageTimes">Zeiten verwalten</p>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="assignPermissions" name="permissions" value="assignPermissions">
                            <p for="assignPermissions">Berechtigungen zuweisen</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-buttons">
            <button class="confirm-button">Bestätigen</button>
            <button class="cancel-button" onclick="closeModal()">Abbrechen</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/authorizations.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>