<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamleader Softwaretools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
</head>
<body>
<header>
    <div class="left-container">
        <img src="{{ url_for('static', filename='assets/timer.png') }}" alt="Timer Icon" width="64">
        <a href="."><h1>Teamleader Softwaretools</h1></a>
    </div>
    <div class="right-container">
        {% if username %}
        <div class="avatar-initials" id="avatar-initials">{{ initials }}</div>
        <button type="button" class="logout-button" onclick="logout()">
            Abmelden
        </button>
        {% else %}
        <button type="button" class="login-button" onclick="login()">
            Anmelden
        </button>
        {% endif %}
    </div>
</header>
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <!-- Beispiel für Home Icon -->
        <li class="breadcrumb-item active" id="mainpage">
            <img src="/static/assets/home.svg" class="breadcrumb-icon" alt="Home Icon" width="16" height="16">
            Startseite
        </li>
    </ol>
</nav>
<div class="content">
    {% if upload_times or manage_times or absence or authorizations %}
    <div class="box-container">
        {% if upload_times %}
        <div class="box">
            <a href="upload-times.html">
                <img src="{{ url_for('static', filename='assets/upload.png') }}" alt="Hochladen Icon" width="32"
                     height="32">
                    Zeitbuchung erfassen
            </a>
        </div>
        {% endif %}
        {% if manage_times %}
        <div class="box">
            <a href="manage-times.html">
                <img src="{{ url_for('static', filename='assets/files.png') }}" alt="Dateien Icon" width="32"
                     height="32">
                Zeitbuchung einsehen
            </a>
        </div>
        {% endif %}
        {% if absence %}
        <div class="box">
            <a href="absence.html">
                <img src="{{ url_for('static', filename='assets/absence.png') }}" alt="Hochladen Icon" width="32"
                     height="32">
                Abwesenheiten einsehen
            </a>
        </div>
        {% endif %}
        {% if birthday %}
        <div class="box">
        <div class="ribbon"><span>Neu</span></div>
            <a href="birthday.html">
                <img src="{{ url_for('static', filename='assets/birthday.png') }}" alt="Hochladen Icon" width="32"
                     height="32">
                Geburtstage
            </a>
        </div>
        {% endif %}
        {% if authorizations %}
        <div class="box">
            <a href="authorizations.html">
                <img src="{{ url_for('static', filename='assets/easy-access.png') }}" alt="Hochladen Icon" width="32"
                     height="32">
                Berechtigungen zuweisen
            </a>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="message-box">
        {% if username %}
        <button type="button" class="message-button" disabled>
            Dir fehlen wohl die Berechtigungen um die Apps zu nutzen.
        </button>
        {% else %}
        <button type="button" class="message-button" disabled>
            Melde dich an, um die Apps nutzen zu können.
        </button>
        {% endif %}
    </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
