<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamleader Softwaretools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>
<body onload="checkTableVisibility()">
<header>
    <div class="left-container">
        <img src="{{ url_for('static', filename='timer.png') }}" alt="Timer Icon" width="32" height="32">
        <a href="."><h1>Teamleader Softwaretools</h1></a>
    </div>
    <div class="right-container">
        {% if username %}
            <span class="username">Willkommen, {{ username }}</span>
        {% else %}
            <button type="button" class="login-button" onclick="login()">
                Anmelden
            </button>
        {% endif %}
    </div>
</header>
<div class="content">
    <div class="box-container">
        <h3>CSV Datei hochladen</h3>
        <div class="box">
            <div class="file-upload-container">
                <form id="uploadForm" action="/upload-times.html" method="post" enctype="multipart/form-data">
                    <input type="file" id="csvFile" name="csvFile" accept=".csv" onchange="submitForm()">
                </form>
                <button id="downloadButton" class="upload-button" onclick="downloadTemplate()">
                    <img src="{{ url_for('static', filename='download.png') }}" alt="Download Icon">
                </button>
                <button id="uploadButton" class="upload-button" onclick="openModal()" disabled>
                    <img src="{{ url_for('static', filename='upload.png') }}" alt="Upload Icon">
                </button>
                <button type="button" class="clear-button" onclick="clearData()" disabled>
                    <img src="{{ url_for('static', filename='trashcan.png') }}" alt="Abfalleimer">
                </button>
            </div>
        </div>
        <div id="csvContent">
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            {% if success_message %}
            <p class="success-message">{{ success_message }}</p>
            {% endif %}
            {% if sorted_data %}
            {% for weekday_and_hours, data_rows in sorted_data.items() %}
            {% set total_hours = data_rows[0]['Gesamtstunden'] %}
            <h4>{{ weekday_and_hours | safe }} <span class="total-hours">[{{ total_hours }} Stunden]</span></h4>
            <table>
                <thead>
                <tr>
                    <th>Von</th>
                    <th>Bis</th>
                    <th>Typ</th>
                    <th>Kunde</th>
                    <th>Phase</th>
                    <th>Projekt</th>
                    <th>Abrechenbar</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data_rows %}
                {% for zeit in row['Zeiten'] %}
                <tr>
                    <td>{{ zeit['Von'] }}</td>
                    <td>{{ zeit['Bis'] }}</td>
                    <td>{{ zeit['Typ'] }}</td>
                    <td>{{ zeit['Kunde'] }}</td>
                    <td>{{ zeit['Phase'] }}</td>
                    <td>{{ zeit['Projekt'] }}</td>
                    <td>{{ zeit['Abrechenbar'] }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Zeiten in Teamleader übertragen?</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-buttons">
            <button class="confirm-button" onclick="uploadtoTeamleader()">Bestätigen</button>
            <button class="cancel-button" onclick="closeModal()">Abbrechen</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
